:root {
  --basic-black: #000000;
  --basc-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white-low: rgba(255, 255, 255, 0.7);
  --basic-white-grey: #DCDCDC;
  --basic-white-light: #EBEBEB;
  --bacic-white-shadow: #D9D9D9;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy-light";
  font-style: normal;

  src: url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2")
}

@font-face {
  font-weight: 300;
  font-family: "Open-sans";

  src: url("../fonts/opensans.woff")format("woff"),
    url("../fonts/opensans.woff2") format("woff2"),
}

a {
  text-decoration: none;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--basick-black);
  background-color: var(--basic-white);
  background-position: top center;
  background: no-repeat;
  font-family: "Gilroy", "Arial", sans-serif;
}

.menu {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  font-family: "Open-sans", "Arial", sans-serif;
  display: flex;
}

.menu-link:first-child {
  margin-right: auto;
}

.menu-link:nth-child(2n) {
  margin-left: 230px;
  margin-right: 63px
}

.menu a {
  color: var(--basic-black);
}

.menu a:hover {
  opacity: 0.6;
}

.menu a:active {
  opacity: 0.3;
}

.page {
  height: 100%;
}

.navigation-list  {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  margin-top: 50px;
}

.navigation-item:first-child {
  margin-right: 324px;
  margin-left: 60px;
}

.navigation-item:nth-child(2n){
  margin-right: 38px;
}

.navigation-item:nth-child(3n) {
  margin-right: 111px;
}

.navigation-item:nth-child(4n) {
  margin-right: 60px;
}

.navigation-second-item {
  letter-spacing: 0px;
  text-transform: none;
}

.navigation-list a:hover {
  opacity: 0.6;
}

.navigation-list a:active {
  opacity: 0.3;
}

.navigation-list a {
  color: var(--basick-black);
}

.navigation-second {
  font-weight: 300;
  font-family: "Open-sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.slide-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  padding: 0px;
  margin: 0px;
  max-width: 431px;
}

.slide {
  padding-top: 100px;
}

.slide-description {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open-sans", "Arial", sans-serif;
  padding: 0px;
  margin: 0px;
  max-width: 478px;
  max-height: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.slider-text-inside-top {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}

.slider-text-inside-bottom {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.slide-list {
  font-family: "Gilroy-light", "Arial", sans-serif;
  letter-spacing: 0.1em;
  display: flex;
  padding-top: 60px;
  max-width: 444px;
} 

.container-slide {
  display: grid;
  grid-template-columns: 384px 478px;
  column-gap: 127px;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0;
  margin-bottom: 116px;
  margin-top: -134px;
  position: relative;
}

.img-container {
  margin-top: 17px;
  margin-bottom: 3px;
}

.slider-container a:hover {
  color: var(--basick-black);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  padding: 9px 43px 9px 43px;
  background-color: var(--special-yellow-dark);
}

.slider-container a {
  color: var(--basick-black);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.slider-container a:active {
  opacity: 0.3;
}

.product-list {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.entrance:before {
  display: block;
  content: '';
  position: absolute;
  background-image: url(../img/profile-svg.svg);
  background-size: 9px 10px;
  width: 9px;
  height: 10px;
  left: 602.17px;
  top: 50.33px;
}

.services-list-items::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  left: -24px;
  top: 47px;
  background: var(--special-yellow-dark);
  z-index: -1;
}

.product-list a:active {
  opacity: 0.3;
}

.product a {
  color: var(--basick-black);
}

.services {
  background-color: var(--basic-grey-light);
  margin-top: 89px;
  min-height: 288px;
}

.services-discription-delivery {
  margin-left: 240px;
  margin-top: -29px;
}

.services-list {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: -18px;
}

.services-list a:hover {
  padding: 9px 25px;
  background-color: var(--special-yellow-dark);
  margin-left: -25px;
  margin-right: -25px;
}

.services-list a:active {
  padding: 9px 145px 9px 24px;
  background-color: var(--basic-black);
  color: var(--special-yellow);
  margin-right: -145px;
  margin-left: -24px;
}

.services-list a {
  color: var(--basick-black);
}

.services-list-items-first {
  padding-top: 9px;
}

.services-list-items {
  padding-top: 40px;
  position: relative;
  z-index: 1;
}

.services-item-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 9px;
  margin: 0;
}

.services-item-discription {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  font-family: "Open-sans", "Arial", sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
  margin-right: 405px;
  min-width: 495px;
  margin-top: 40px;
}

.header-logo {
  margin-left: 60px;
}

.main-footer {
  background-color: var(--basc-dark);
  min-height: 324px;
}

.main-header-wrapper {
  display: flex;
  margin: 0;
}

.form {
  margin-left: 98px;
  margin-right: 420px;
}

.main-header {
  background-color: var(--special-yellow);
  min-height: 300px;
  max-width: 1160px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto; 
  position: relative;
}

.delivery-services-list {
  padding-bottom: 74px;
}

.img-maps {
  margin-bottom: 85px;
}

.information-about-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 9px;
}

.delivery-service {
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 10px;
}

.information-about a {
  color: var(--basic-dark);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.information-about-text {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.first-text-information {
  max-width: 420px;
  padding-bottom: 30px;
}

.text-two-information {
  max-width: 473px;
  padding-bottom: 30px;
  height: 56px;
}

.information-contacts a {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-dark);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.detailed:hover {
  background-color: var(--special-yellow-dark);
  padding: 7px 18px 7px 24px;
}

.detailed:active {
  opacity: 0.3;
}

.information-contacts-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 9px;
}

.information-contact-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  font-family: "Open-sans", "Arial", sans-serif;
}

.main-footer-wrapper {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open-sans", "Arial", sans-serif;
}

.wrapper-bottom a:hover {
  color: var(--basic-white);
}

.wrapper-bottom a {
  color: var(--basic-white-low);
}

.wrapper-bottom a:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.wrapper-bottom {
  display: flex;
  padding-bottom: 77px;
}

.wrapper-item-bottom {
  margin-right: 63px;
}

.footer-social a {
  color: var(--basic-white);
}

.footer-social-list {
  display: flex;
  margin-left: 140px;
  margin-top: 67px;
}

.footer-contact-services {
  padding-right: 36px;
}

.social-teleg {
  padding-right: 20px;
}

.footer-contacts-services {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
}

.footer-contacts-services a {
  color: var(--basic-white);
}

.footer-contacts-services a:hover {
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-contacts-services a:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.footer-contacts-telephone {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  font-family: "Open-sans", "Arial", sans-serif;
  margin-left: 150px;
}

.footer-contacts-address {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  margin: 0;
  padding-top: 40.02px;
}

.left-footer-wrapper {
  margin-top: 64.02px;
}

.right-footer-wrapper {
  margin-top: 46px;
}

.footer-contacts {
  margin-top: 138px;
}

.social-fb a {
  background-image: url(../img/facebook.svg);
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-instagram a {
  background-image: url(../img/instagram.svg);
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-twitter a {
  background-image: url(../img/twitter.svg);
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-academy {
  background-image: url(../img/academy.svg);
  display: block;
  width: 26.94px;
  height: 32px;
  margin-top: 67px;
  margin-left: 287px;
}

.social-fb a:hover {
  opacity: 0.6;
}

.social-fb a:active {
  opacity: 0.1;
}

.social-instagram a:hover {
  opacity: 0.6;
}

.social-instagram a:active {
  opacity: 0.1;
}

.social-twitter a:hover {
  opacity: 0.6;
}

.social-twitter a:active {
  opacity: 0.3;
}

.social-academy:hover {
  opacity: 0.6;
}

.social-academy:active {
  opacity: 0.3;
}

.logo a:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.product-name-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.product-item a {
  position: relative;
}

.product-item p {
  margin: 0;
  padding-top: 198px;
}

.product-item {
  width: 160px;
}

.product-item a::before, 
.product-item a::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
}

.product-item a::before {
  background-color: var(--special-yellow)
}

.product-item a::after {
  background-repeat: no-repeat;
  background-position: center;
}

.product-item-link:hover::before {
  background-color: var(--special-yellow-dark);
}

.product-item-link:active::after,
.product-item-link:active > p {
  opacity: 0.3;
}

.product-item-link:active::before {
  background-color: var(--special-yellow-dark);
}

.virtual a::after {
  background-image: url(../img/popular-1.svg);
  background-size: 97px 55px;
}

.selfie a::after {
  background-image: url(../img/popular-2.svg);
  background-size: 86px 117px;
}

.camera a::after {
  background-image: url(../img/popular-3.svg);
  background-size: 71px 87px;
}

.fitness a::after {
  background-image: url(../img/popular-4.svg);
  background-size: 107px 65px;
}

.watch a::after {
  background-image: url(../img/popular-5.svg);
  background-size: 56px 98px;
}

.copter a::after {
  background-image: url(../img/popular-6.svg);
  background-size: 132px 69px;
}

.breadcrumbs a {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open-sans", "Arial", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.filters-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: var(--basic-white-grey);
}

.sort-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sort-actived {
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  font-family: "Open-sans", "Arial", sans-serif;
}

.sort-inactive {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open-sans", "Arial", sans-serif;
  opacity: 0.3;
}

.button-basket {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 0;
  padding: 0;
}

.button-basket:hover {
  background-color: var(--special-yellow-dark);
  padding: 10px 38px 8px 38px;
}

.button-basket:active {
  opacity: 0.3;
  background-color: var(--special-yellow-dark);
  padding: 10px 38px 8px 38px;
}

.sort {
  background-color: var(--basic-grey-light);
}

.button-comparison {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  font-family: "Open-sans", "Arial", sans-serif;
  opacity: 0.5;
  border: 0;
  padding: 0;
}

.button-comparison:hover {
  opacity: 1;
}

.button-comparison:active {
  opacity: 0.2;
}

.price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  font-family: "Gilroy-light", "Arial", sans-serif;
}

.product-name {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.sort-list a:hover {
  opacity: 0.6;
}

.sort-list a:active {
  opacity: 1;
}

.sort-list a {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open-sans", "Arial", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
}

.switch a {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.switch {
  background-color: var(--basic-white-light);
}

.switch-inactive {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.3;
}

.button-nav:hover {
  background-color: var(--bacic-white-shadow);
  padding: 25px 30px;
}

.button-nav:active {
  opacity: 0.3;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.brand-list {
  display: flex;
  justify-content: space-between;
  margin-top: 90px
}

.services-container {
  max-width: 1158px;
  min-height: 188px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.information-container {
  display: grid;
  grid-template-columns: 473px 580px;
  column-gap: 127px;
  margin-top: 90px;
  margin-bottom: 86px;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
